$fontSize: 14px;
$verticalRhythm: 1.5rem;
$smallRhythm: 0.5rem;

@mixin border {
  border-bottom: 1px solid #D3D9DE;
}

@mixin linkButton {
  appearance: none;
  cursor: pointer;
  border: none;
  padding: 0;
  font-size: $fontSize;
  font-weight: 300;
  background-color: transparent;
  color: #3796D6;
  text-decoration: underline;

  &:hover {
    color: #0f649e;
  }
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 2rem 0 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: $fontSize;
}

.panel {
  width: 500px;
  background-color: #EFF2F4;
  border: 1px solid #C6CFD5;
  padding: 2rem 2rem 2.5rem;
  box-shadow: 0 2px 8px rgba(#142E40, 0.2);
  margin-bottom: 3rem;
}

.panelHeader {
  @include border;
  color: #4E6371;
  font-size: 1.8rem;
  padding-bottom: $smallRhythm;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: $verticalRhythm;
}

.toDoList {
  counter-reset: my-badass-counter;
  margin-top: 0px;
  margin-bottom: $verticalRhythm;
  padding: 0;

  > * + * {
    margin-top: $smallRhythm;
  }
}

.toDoListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-position: inside;
  padding: 1rem;
  background-color: #FFFFFF;
  border: 1px solid #D3D9DE;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
  color: #515151;
}

.toDoListItem--critical {
  background-color: #FFF7F7;
  border-color: #D97373;
  color: #C21B1B;
}

  .toDoListItem__button {
    @include linkButton;
  }

.horizontalRule {
  @include border;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: $verticalRhythm;
}

.label {
  display: block;
  font-size: 1rem;
  color: #4E6371;
  margin-bottom: $smallRhythm;
  font-weight: 300;
}

.textInput {
  appearance: none;
  display: block;
  width: 100%;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  color: #515151;
  background-color: #FFFFFF;
  border: 1px solid #D3D9DE;
  box-shadow:
    0 1px 0 rgba(#FFFFFF, 0.5),
    inset 0 2px 4px rgba(#000000, 0.1);
  margin-bottom: $verticalRhythm;
}

.textInput--inline {
  margin-bottom: 0;
}

.checkBoxLabel {
  display: flex;
  align-items: center;
  margin-bottom: $verticalRhythm;
}

  .checkBoxLabel__text {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    color: #4E6371;
    margin-left: 10px;
  }

.checkBox {
  appearance: none;
  width: 24px;
  height: 24px;
  background-color: #FFFFFF;
  border: 1px solid #D3D9DE;
  box-shadow:
    0 1px 0 rgba(#FFFFFF, 0.5),
    inset 0 2px 4px rgba(#000000, 0.1);
  border-radius: 4px;

  &:checked {
    box-shadow:
      0 1px 0 rgba(#FFFFFF, 0.5),
      inset 0 2px 4px rgba(#000000, 0.1),
      inset 0 0 0 6px rgba(#FFFFFF, 1);
    background-color: #3796D6;
  }
}

.button {
  appearance: none;
  cursor: pointer;
  display: block;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #51B087;
  border: 1px solid #338D66;
  border-radius: 8px;
  box-shadow:
    0 2px 4px rgba(#FFFFFF, 0.5),
    inset 0 1px 0 rgba(#44D295, 1);
  margin-bottom: $verticalRhythm;

  &:active {
    background-color: #338D66;
    box-shadow: none;
  }

  &:disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
  }
}

.sortButton {
  @include linkButton;

  margin-bottom: $smallRhythm;
}